h1,
h2,
h3,
h4,
h5,
h6,
body,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.font2 {
    font-family: 'Montserrat Alternates', sans-serif;
}

.font3 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
}

.container {
    width: 100%;
    height: 100vh;
    /* padding-right: 167px;
    padding-left: 167px;
    margin-right: auto;
    margin-left: auto; */
}

.m-container {
    margin-left: 126px;
    margin-right: 126px;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.flexible {
    flex-grow: 1;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
    line-height: 130%;
}

h5 {
    font-size: 18px;
    line-height: 130%;
}

h6 {
    font-size: 15px;
    line-height: 120%;
}

.text {
    font-size: 24px;
    line-height: 130%;
}

.text-card {
    font-size: 20px;
    line-height: 130%;
}

.text-language {
    font-size: 14px;
    line-height: 120%;
}

.text-color-primary {
    color: #002E64;
}

.text-color-secondary {
    color: #ffffff;
}

.gradient_1 {
    background: rgb(83, 80, 225);
    background: linear-gradient(261deg, rgba(83, 80, 225, 1) 0%, rgba(44, 61, 103, 1) 100%);
}

.gradient_2 {
    background: rgb(255, 211, 55);
    background: linear-gradient(260deg, rgba(255, 211, 55, 1) 0%, rgba(255, 153, 0, 1) 100%);
}

.gradient_3 {
    background-image: -webkit-linear-gradient(top, rgb(56, 150, 242), rgb(30, 47, 174));
}

.icon-20 {
    width: 20px;
    height: 20px;
}

.button {
    width: 250px;
    height: 50px;
    border-radius: 1em;
    color: #ffffff;
    text-align: center;
    background-color: #EBAB08;
}

.menu a:hover {
    color: #F5D481;
}

.menu a:after {
    content: "";
    width: 30px;
    height: 30px;
    background: url("../assets/arrow-icon.svg") no-repeat -30px -50px fixed;
    top: 10px;
    right: 5px;
    position: absolute;
    display: inline-block;
}