@import (css) url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&family=Montserrat:wght@400;700&display=swap');
@import url('./styles.less');

.burger-menu{
    display: block;
}

header {
    &{
        padding: 25px 40px 80px 40px;
    }

    & nav> ul li .menu__link {
        color: @text-color-primary;
    }
    & nav> ul li .menu__list {
        color: @text-color-primary;
    }

    & div> .menu__link {
        color: @text-color-primary;
    }

    @media @mobile {
        &{
            justify-content: center;
        }
    }

    @media @tablet {
        &{
            justify-content: center;
        }
    }
}

@media @tablet{
    nav{
        display: none;
    }
}

@media @desktop{
    .burger-menu{
        display: none;
    }
}


.lower-ukrainian {
    list-style-type: none;
}

.lower-ukrainian li:before {
    display: inline-block;
    margin-left: -1.5em;
    margin-right: .55em;
    text-align: right;
    width: .95em;
}

.lower-ukrainian li:first-child:before {
    content: "а)";
}

.lower-ukrainian li:nth-child(2):before {
    content: "б)";
}

.lower-ukrainian li:nth-child(3):before {
    content: "в)";
}

.lower-ukrainian li:nth-child(4):before {
    content: "г)";
}

.lower-ukrainian li:nth-child(5):before {
    content: "д)";
}

.lower-ukrainian li:nth-child(6):before {
    content: "є)";
}


.new {

    &__wrapper {
        color: @text-color-primary;
    }

    &__body {
        padding: 0 500px;
    }

    &__header {}

    &__date {
        & {
            padding: 15px 0 20px 0;
        }

        & span {
            font-size: 12px;
            color: #b2b2b2;
        }
    }

    &__content {}

    &__footer {
        text-align: right;
        padding: 35px 0 65px 0;
    }

    @media @mobile {
        &__wrapper {}

        &__body {
            padding: 0 20px;
        }
    }

    @media @tablet {
        &__wrapper {}

        &__body {
            padding: 0 126px;
        }
    }

    @media @desktop {
        &__wrapper {}

        &__body {
            padding: 25px 300px;
        }
    }
}