@import (css)
  url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&family=Montserrat:wght@400;700&display=swap");
@import url("./news.less");

.service {
  &__wrapper {
    color: @text-color-primary;
  }
}


.article {
  &__body {
    width: 50vw;
    padding-right: 45px;
  }

  &__header {
  }

  &__content {
   
  }

  &__content .text > .image {
    float: left;
    // max-width: 300px;
    max-height: 200px;
    padding: 20px 60px 60px 20px;
  }



  &__footer {
    text-align: right;
    padding: 0px 0 35px 0;
  }

  @media @mobile {
    &__header {
      padding: 15px 0 30px 0;
    }
  
    &__body {
      width: 100vw;
      padding-right: 0px;
    }

    &__content>.image {
      float: none;
      width: 100%;
      max-height: 160px;
      padding: 0px;
    }
  
  }

  @media @tablet {
    &__body {
      width: 100vw;
      padding: 0 126px;
    }

    
    &__content>.image {
      float: none;
    }
  }

  @media @desktop {
    &__body {
      width: 100vw;
      padding-right: 0px;
    }
  }
}

header .hero__phone .phone__number{
  color: #2324A9;
}

.sidebar {
  & {
    width: 30vw;
  }

  & .swiper-container {
    width: 100%;
    height: 100%;
  }

  & .swiper-slide {
    // text-align: center;
    // font-size: 18px;
    /* Center slide text vertically */
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  & .publication {
    display: block;
  }

  & .publication-mobile {
    display: none;
  }
}

.items {
  z-index: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.new {
  &__card {
    position: relative;
    background-color: #fff;
    padding: 35px;
    height: 190px;
    transition: 0.3s;
    border-radius: 5px;
    margin: 0 0 35px 0;
    background-color:#fff ;
    border-radius: 25px;
  }

  &__card:hover {
    // box-shadow: 0px 4px 4px rgb(253 182 89 / 15%);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  &__card-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  &__info {
    padding: 0px 0px 5px 0px;
  }

  &__publication-date {
    padding: 10px 20px 10px 0px;
    font-size: 12px;
    color: #b2b2b2;
  }

  &__author {
    padding: 10px 20px 10px 0px;
    font-size: 12px;
    color: #b2b2b2;
  }

  &__card a {
    text-decoration: none;
  }

  @media @mobile {
    &__card {
      // max-width: 280px;
      // height: auto;
      background-color: #ebab08;
    }

    &__publication-date {
      color: #fff;
    }

    &__author {
      color: #fff;
    }
  }

  @media @tablet {
    &__card {
      max-width: 360px;
      background-color: #ebab08;
    }

    &__publication-date {
      color: #fff;
    }

    &__author {
      color: #fff;
    }
  }

  @media @desktop {
    &__card {
      max-width: 360px;
      background-color: #ebab08;
    }

    &__publication-date {
      color: #fff;
    }

    &__author {
      color: #fff;
    }
  }
}

.container {
  z-index: 0;
  display: flex;
  justify-content: space-between; // space-around;
  // flex-wrap: wrap;
}

@media @mobile {
  .container {
    flex-wrap: wrap;
  }

  .items {
    flex-wrap: wrap;
  }

  .sidebar {
    width: 100%;

    & .publication {
      display: none;
    }

    & .publication-mobile {
      display: block;
    }
  }

  .any-question {
    padding: 20px 20px;
  }
}

@media @tablet {
  .container {
    flex-wrap: wrap;
  }

  .items {
    flex-wrap: wrap;
    justify-content: center;
  }

  .sidebar {
    width: 100vw;
    padding: 0 126px;
  }

  .any-question {
    padding: 60px 126px;
  }
}

@media @desktop {
  .container {
    flex-wrap: wrap;
  }

  .items {
    flex-wrap: nowrap;
  }
  .sidebar {
    width: 100vw;
  }

  .any-question {
    padding: 60px 126px;
  }
}

@media @ultraDesktop {
  .any-question {
    padding: 40px 126px;
  }
}

.section-title {
  color: #ebab08;
}

.any-question {
  display: flex;
  justify-content: center;
}

.any-question h3 {
  font-size: 24px;
}

.footer {
  & {
    position: relative;
    height: 100vh;
  }

  #map {
    width: 100%;
    height: 100%;
  }

  .contact-card-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 10% 0 0 10%;
    max-width: 400px;
    z-index: 6000000000;
  }

  .contact-card {
    position: absolute;
    background: white;
    min-height: 300px;
    padding: 50px;
    box-sizing: border-box;
    width: 100%;
  }

  .adress-link {
    font-size: 22px;
    line-height: 30px;
    color: #2324a9;
    font-weight: 600;
  }

  .adress-link:hover {
    color: @link-hover;
  }

  @media @mobile {
    & {
      display: flex;
      flex-direction: column-reverse;
    }

    #map {
      height: 50vh;
    }

    .adress-link {
      font-size: 18px;
      line-height: 30px;
      color: #2324a9;
      font-weight: 600;
    }

    .contact-card {
      position: relative;
      background: none;
      padding: 0px;
      box-sizing: border-box;
      width: 100%;
      min-height: auto;
    }
    .contact-card-wrapper {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      margin: 0;
      padding: 20px;
    }
  }
}
